.nav>li>a {
    
    padding-top: 15px;
    padding-bottom: 15px;
    width: 360px;
    text-align: center;
    margin-right: 48px;
    font-weight: bold;
    font-size: 24px;
    }

    .nav>li>a:hover {
    background-color: white;
  }


    .container-fluid {
      background: #ffb100;
    }

   a{
      color: #000000;
    }

    .panel-default>.panel-heading {
      background: #ffb100;
    }
    .jumbotron {
      background: white;
    }

    .jumbotron h1 {
      font-size: 84px;
    }

    select {
      width: 100px;

    }

    option {
      text-align: center;
    }

    .btn-primary:hover {
      background: #ffb100;
      color: color: #000000;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
 }


 #date{
  width: 100%;
 }

